<section class="contact reveal" id="contact">
  <div class="head-title reveal"><h1>Contact Me</h1></div>
  <div class="head reveal">
    <h3>Get in Touch</h3>
    <p>Feel free to reach out to me anytime!</p>
  </div>
  <div class="contact-body reveal">
    <div class="contact-info reveal">
      <div class="info-item d-flex align-items-center">
        <i class="fa-solid fa-location-dot"></i>

        <p>10th Of Ramadan, Egypt</p>
      </div>
      <div class="info-item d-flex align-items-center">
        <i class="fa-solid fa-envelope"></i>

        <a href="mailto:mazenanter99@gmail.com">mazenanter99&#x40;gmail.com</a>
      </div>
      <div class="info-item d-flex align-items-center">
        <i class="fa-solid fa-phone"></i>

        <p>+201093099479</p>
      </div>
    </div>

    <div class="social-links d-flex align-items-center">
      <div class="link linkedin d-flex">
        <a
          href="https://www.linkedin.com/in/mazen-anter-aa4089169/"
          target="_blank"
        >
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
      <div class="link github">
        <a href="https://github.com/mazenanter" target="_blank">
          <i class="fa-brands fa-github"></i>
        </a>
      </div>
      <div class="link whatsapp">
        <a href="https://wa.me/+201093099479" target="_blank">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
      </div>
      <div class="link twitter">
        <a href="https://x.com/M4zen5" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
      </div>
      <div class="link facebook">
        <a href="https://www.facebook.com/mazenanter10" target="_blank">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </div>
    </div>
  </div>
</section>
