<section class="about" id="about">
  <div class="head-title reveal"><h1>About Me</h1></div>
  <div class="container reveal">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-4"><img src="me.jpeg" alt="" class="my-image" /></div>
      <div class="col-lg-8">
        <p class="def">Who I Am</p>
        <p>
          I'm a passionate Backend .NET Developer focused on building scalable
          APIs and reliable software systems using ASP.NET Core and Clean
          Architecture. My journey in software engineering started with a strong
          foundation in problem solving, data structures, and algorithms, which
          helps me write clean, maintainable, and optimized code.
        </p>
        <p>
          I enjoy transforming complex business requirements into real-world
          backend solutions with a strong focus on performance, security, and
          system design. I’m constantly improving my engineering skills through
          building production-style projects, learning modern backend
          technologies, and exploring scalable software architectures.
        </p>
        <div class="links d-flex align-items-center">
          <div class="location d-flex">
            <i class="fa-solid fa-location-dot"></i>
            <p>10th Of Ramadan, Egypt</p>
          </div>
          <div class="link email d-flex">
            <i class="fa-solid fa-envelope"></i>
            <a href="mailto:mazenanter99@gmail.com"
              >mazenanter99&#x40;gmail.com</a
            >
          </div>
          <div class="link phone d-flex">
            <i class="fa-solid fa-phone"></i>
            <p>+201093099479</p>
          </div>
          <div class="link linkedin d-flex">
            <i class="fa-brands fa-linkedin"></i>
            <a
              href="https://www.linkedin.com/in/mazen-anter-aa4089169/"
              target="_blank"
              >Linkedin</a
            >
          </div>
          <div class="link github">
            <i class="fa-brands fa-github"></i>
            <a href="https://github.com/mazenanter" target="_blank">GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
