<section class="experience reveal" id="experience">
  <div class="head-title reveal"><h1>Experience</h1></div>
  <div class="experience-item reveal">
    <div
      class="header d-flex align-items-center justify-content-between reveal"
    >
      <h3>Backend Developer</h3>
      <p>Jan 2026 - Present</p>
    </div>
    <div class="company reveal">
      <i class="fa-regular fa-building"></i>
      <span>Freelance</span>
    </div>
    <p class="job">API Gateway & Integration Engine for shop2change.com</p>
    <ul>
      <li>
        Contracted by shop2change.com — a live commercial platform for digital
        goods and gaming services — to build a dedicated API layer
        (api.shop2change.com) enabling programmatic access to all platform
        services.
      </li>
      <li>
        Architected a secure API Management System: that allows users to
        generate, regenerate, and manage API Keys with a robust IP Whitelisting
        security layer.
      </li>
      <li>
        Developed a comprehensive Admin Dashboard: for centralized user
        management, featuring real-time control over API access (Enable/Disable
        keys) with strict Role-Based Access Control (RBAC) for Admins and
        Managers.
      </li>
      <li>
        Engineered a High-Performance API Gateway: that mirroring complex
        platform logic, enabling programmatic access to diverse services (Gaming
        top-ups, SMM, etc.) with an Intelligent Order Routing System that
        automatically forwards orders to local handlers or external third-party
        providers based on service type.
      </li>
      <li>
        Automated Cross-Provider Profit Management: Developed a dynamic pricing
        engine that applies the platform's custom markup on top of provider
        costs, ensuring automated profit protection for every transaction.
      </li>
    </ul>
  </div>
</section>
