<section id="home" class="hero">
  <canvas #particleCanvas class="particle-canvas"></canvas>
  <div class="hero-content">
    <div class="head">
      <h1>
        Hi, I'm
        <span class="name">Mazen Anter</span>
      </h1>
    </div>
    <div class="title">
      <h2>Software Engineer | Backend Developer</h2>
    </div>
    <div class="bio">
      <p>
        Focused on building secure, scalable, and enterprise-grade backend
        systems using ASP.NET Core, Clean Architecture, and modern software
        design principles. I enjoy turning complex business requirements into
        reliable production-ready solutions.
      </p>
    </div>
    <div class="buttons">
      <a
        href="https://drive.google.com/file/d/1JD6baS6mOeJdNFI7uO1iWzAudO5l9Azm/view?usp=drive_link"
        target="_blank"
        class="cv-btn"
        >View My Cv</a
      >
      <a href="#contact" class="contact">Contact Me</a>
    </div>
  </div>
</section>
